extends ./partials/layout
include ./mixins/video

block head
  title HOME | Wetube

block mainText
  h1 Welcome home!
    header
    h1= pageTitle
    nav
      ul
        li
          a(href="/videos/upload") Upload Video
  each video in videoList
    +video(video)
