doctype html
html(lang="en")
  head
    title #{pageTitle} | Wetube
    script(type='text/javascript').
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
body 
    h1 Layout
    main
        block content
        block subs
        input(placeholder="what is your name")
        button send
        br
        include patials/footer.pug
    