extends ./partials/layout

block head
  title Upload | Wetube

block content
  h1 #{ pageTitle }!
  form(method="POST")
    input(name="title", placeholder="Title", required, type="text")
    input(type="submit", value="Upload Video")
