doctype html
html(lang="en")
  head
    title #{ pageTitle } | Wetube
    script(type="text/javascript").
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
body
  header
    nav
      ul
        if fakeUser.loggedIn
          li
            a(href="/logout") Logout
        else
          li
            a(href="/login") Login
    h1= pageTitle
  main
    block content
    block subs
    input(placeholder="what is your name")
    button send
    br
include ./footer.pug
